*{
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Balpaq', serif, 'Tilda Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
